USE [master]
GO
/****** Object:  Database [School]    Script Date: 10.2.2015 г. 19:23:36 ч. ******/
CREATE DATABASE [School]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'School', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\School.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'School_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\School_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [School].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [School]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 10.2.2015 г. 19:23:36 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[Name] [nvarchar](50) NOT NULL,
	[MaxStudent] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 10.2.2015 г. 19:23:36 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Name] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[PhoneNumber] [nvarchar](50) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Classes] ([Name], [MaxStudent]) VALUES (N'Mathematic', N'23        ')
INSERT [dbo].[Classes] ([Name], [MaxStudent]) VALUES (N'Sport', N'30        ')
INSERT [dbo].[Classes] ([Name], [MaxStudent]) VALUES (N'Biology', NULL)
INSERT [dbo].[Students] ([Name], [Age], [PhoneNumber]) VALUES (N'Ivan', 23, N'35985424523')
INSERT [dbo].[Students] ([Name], [Age], [PhoneNumber]) VALUES (N'Posho', 18, NULL)
INSERT [dbo].[Students] ([Name], [Age], [PhoneNumber]) VALUES (N'Gosho', 21, N'+23 423 41 24')
USE [master]
GO
